{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1499877468582-90301c136ebc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">Who are we?</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>By integrating football, art, culture & entertainment, BLOLIGA acts as a full-service creative agency – that will constantly bridge the gap between fans and football, bringing you stories and events that are and are to come from both in and out of the locker room.</p>
        <p>Whilst we live and breathe football, BLOLIGA will always provide you the best moments and the worst moments, (depending on what side of the stadium you’re on😅) that’ll drive conversations throughout the community.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}